pkgbase = kguiaddons-git
	pkgdesc = Addons to QtGui
	pkgver = v5.102.0.r15.g0aa7ca5
	pkgrel = 1
	url = https://invent.kde.org/frameworks/kguiaddons
	arch = x86_64
	groups = kf6-git
	license = LGPL
	makedepends = git
	makedepends = extra-cmake-modules-git
	makedepends = clang
	makedepends = python-pyqt6
	makedepends = doxygen
	makedepends = qt6-tools
	makedepends = sip4
	depends = qt6-wayland
	depends = plasma-wayland-protocols
	optdepends = python-pyqt6: for the Python bindings
	provides = kguiaddons
	conflicts = kguiaddons
	source = git+https://invent.kde.org/frameworks/kguiaddons.git
	sha256sums = SKIP

pkgname = kguiaddons-git
